@page
@model razor8.Pages_Blog.CreateModel

@{
    ViewData["Title"] = "Tạo bài viết";
}

<h1>Tạo bài viết</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Article.Title" class="control-label"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Article.Created" class="control-label"></label>
                <input asp-for="Article.Created" class="form-control" />
                <span asp-validation-for="Article.Created" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Article.Content" class="control-label"></label>
                <textarea asp-for="Article.Content" class="form-control"></textarea>
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary mt-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-dark mt-3">Quay lại danh sách bài viết</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
